@font-face {
    font-family: "PF BeauSans Pro";
    src: url(../fonts/PFBeauSansPro-Reg.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: "PF BeauSans Pro";
}


html {
    font-size: 100%;
    width: 100vw;
}






.start{
    text-align: center;
    font-size: 3rem;

}


.block_1_a{
    display: block;
    width: 100%;
    margin-bottom: -5px;
}


.block_1_a img{
    width: 100%;
}


/*ТОП меню*/

header {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 70px;
    box-shadow: none;
    background-color: transparent;
    -webkit-transition: all .5s ;
}


nav {
    display: block;
    margin: auto;
    margin-top: 15px;
    height: 70px;
    -webkit-transition: margin-left .5s;
}


.menu_a {
    position: fixed;
    right: 300px;
    display: block;
    list-style: none;
}


.menu_a li {
    color: #1b6045;
    line-height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 0 20px;
    transition: all 0.5s;
}


.menu_a li:hover {
    color: #337ab7;

}


.menu_a a{
    color: #F3F3F3;
    text-decoration: none;
}


img#logo{
    position: fixed;
    display: block;
    left: 60px;
    width: 193px;
    -webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}


img#logo1{
    display: none;
    position: fixed;
    height:40px;
    top: 2px;
    left: 20px;
    cursor: pointer;
}


img#logo2{
    display: none;
    position: fixed;
    height:40px;
    left: 20px;
}



/*счетчик*/

#schetchic{
    top: 5px;
    height: 60px;
    position: fixed;
    right: 50px;
}

#t{
    position: fixed;
    top: 25px;
    height: 60px;
    position: fixed;
    right: 70px;
    z-index: 9000000;
    color: #ffffff;
    font-weight: bold;
    font-size:20px
}




@media screen and (max-width: 1250px) {
    #logo {
        display: none!important;
    }
    img#logo2{
        display: block;
    }

    .menu_a li {
        font-size: 12px;
        padding: 0 10px;
    }
    #schetchic{
        height: 60px;
        position: fixed;
        right: 20px;
    }

    #t{
        top: 25px;
        height: 60px;
        right: 40px;
    }
    .menu_a {
        right: 260px;
    }
}


@media screen and (max-width: 860px) {
    img#logo2 {
        display: none!important;
    }
    img#logo1{
        display: block;
    }
    header {
        height: 40px;
    }


    #menu{
        display: inline;
        float: left;
        margin: 35px 0 0 0px;
        width: 120px;

    }
    #menu ul{
        width: 140px;
        display: none;
        margin: 0px;
    }
    #menu ul li{
        color: #ffffff;
        width: 100%;
        margin: 0;
        padding: 5px;
        line-height: 15px;
        background: #8DC2C4;
        border-bottom: 1px solid #ffffff;
        transition: background 0.5s;
    }
    #menu ul li:hover{
        color: #1b6045;
        background: #ffffff;
        border-bottom: 3px solid #1b6045;
    }
    .menu_a {
        top: 40px;
        left: 0px;
    }
    #schetchic{
        top: 3px;
        height: 34px;
        right: 20px;
    }

    #t{
        top: 14px;
        height: 34px;
        right: 30px;
        font-size: 11.5px;
    }
}

















/*BLOCK2*/

.block_2_v{
    width: 100%;
    height: 900px;
    background: url(img/fon_block2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/*.block_2_v h1 {
    text-align: center;
    padding: 0px 0;
    padding-bottom: 100px;
    color: #e2550b;
    font-size: 50px;
}*/

.txt {
    min-width: 200px;
    text-align: center;
    padding: 0px 100px;
    padding-top: 100px;
    color: #0d3a37;
    font-size: 35px;
}

.icon {
    width: 100%;
    height: 200px;
    padding-top: 100px;
}
.pic {
    width: 25%;
    float: left;
}

.pic img {
    width: 60%;
}

.center {
    text-align: center;
}
.center2 {
    text-align: center;
    font-size: 24px;
    color: #0d3a37;
}


.pic::after {
    content: "";
    width: 100%;
    height: 100%;
    background: url("css/img/pic1.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: block;
    transition: all 0.5s;
    overflow: hidden;
}


.pic:hover::after {
    background: url("css/img/pic12.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*BLOCK2 END*/

/*Block3 Begins*/

.multiple-items img {

    width: 70%;
    height: 70%;
    margin: 0px auto 10px auto;
}


.multiple-items div {
     margin: 20px auto;
 }

.multiple-items span {
    color: #ee6123;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

.slide-contain {
    height: 100%;
    width:100%;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/3-background.jpg');
    position: relative;
}

.multiple-items {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    /*padding-top: 15%;*/
}

.slick-prev:before, .slick-next:before {
    color: #00ade5 !important;
    font-size: 40px !important;
}

/*.slick-prev, .slick-next {*/
/*padding-top: 6% !important;*/
/*}*/

/*.slick-slider {*/
/*padding-top: 6% !important;*/
/*}*/


.slick-dots li button:before {
    font-size: 20px !important;
    color: #00ade5 !important;
    /* margin-top: 30px; */

}

.slick-prev {
    left: -45px !important;
}

@media screen and (max-width: 750px) {
    button.slick-prev.slick-arrow,
    button.slick-next.slick-arrow {

    }
}







/*всплывающие блоки трениров*/





#hover_a{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(9, 5, 59, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
}


#block_inf_1{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;

}

#block_inf_1 img{
    width: 100%;
}

#img_inf_1{
    cursor: pointer;
}


#block_inf_2{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_2 img{
    width: 100%;
}


#img_inf_2{
    cursor: pointer;
}

#block_inf_3{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_3 img{
    width: 100%;
}

#img_inf_3{
    cursor: pointer;
}

#block_inf_4{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_4 img{
    width: 100%;
}


#img_inf_4{
    cursor: pointer;
}

#block_inf_5{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_5 img{
    width: 100%;
}


#img_inf_5{
    cursor: pointer;
}

#block_inf_6{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_6 img{
    width: 100%;
}


#img_inf_6{
    cursor: pointer;
}

#block_inf_7{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_7 img{
    width: 100%;
}

#img_inf_7{
    cursor: pointer;
}

#block_inf_8{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_8 img{
    width: 100%;
}

#img_inf_8{
    cursor: pointer;
}

#block_inf_9{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_9 img{
    width: 100%;
}

#img_inf_9{
    cursor: pointer;
}


#block_inf_10{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_10 img{
    width: 100%;
}

#img_inf_10{
    cursor: pointer;
}

#block_inf_11{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_11 img{
    width: 100%;
}

#img_inf_11{
    cursor: pointer;
}

#block_inf_12{
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #ddd;
    overflow: hidden;
    position: fixed;
    top: 15%;
    left: 25%;
    display: none;
    background: #ffffff;
    z-index: 9999;
}

#block_inf_12 img{
    width: 100%;
}

#img_inf_12{
    cursor: pointer;
}



/*Block3 End*/



/*FRONT END+QA*/


.white_line {
    background: white;
    text-align: center;
    padding-top: 50px;
    opacity: 0.7;
    width: 100%;
    height: 100px;
    font-size: 24px;
}

.wow:first-child {
      visibility: hidden;
}

.block_4_v{
    width: 100%;
    min-height: 500px;
    background: url(css/img/fon_block4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.front {
    padding-top: 30px;
    width: 100%;
    min-height: 400px;
}

.qa {
    width: 100%;
    min-height: 400px;
}

.picture_front {
    float: left;
    padding-left: 50px;
    width: 27%;
    height: 400px;
    /*background: url(img/front_end.png) no-repeat;*/
}

.picture_front img {
    width: 115%;
}

.content_front1 {
    float: left;
    width: 27%;
    height: 400px;
    /*background: url(img/content_front1.png) no-repeat;*/
}

.content_front1 img {
    width: 115%;
}

.content_front2 {
    float: left;
    width: 27%;
    height: 400px;
    /*background: url(img/content_front2.png) no-repeat;*/
}

.content_front2 img {
    width: 105%;
}

.content_front3 {
    padding-top: -30px;
    margin-left: 20px;
    float: left;
    width: 10%;
    height: 400px;
    /*background: url(img/content_front3.png) no-repeat;*/
}

.content_front3 img {
    padding-bottom: 25px;
    width: 75%;
}




.qa_p {
    padding-right: 100px;
    float: right;
    width: 27%;
    height: 400px;
    /*background: url(img/qa.png) no-repeat;*/
}

.qa_p img {
    width: 115%;
}


.qa1 {
    float: right;
    width: 27%;
    height: 400px;
    /*background: url(img/qa1.png) no-repeat;*/
}

.qa1 img {
    width: 115%;
}


.qa2 {
    float: right;
    width: 27%;
    height: 400px;
    /*background: url(img/qa2.png) no-repeat;*/
}

.qa2 img {
    width: 115%;
}


.qa3 {
    float: right;
    width: 10%;
    height: 400px;
    /*background: url(img/qa3.png) no-repeat;*/
}

.qa3 img {
    width: 95%;
    margin-top: -40px;
}


/*FRONT END+QA END*/



.block_3_m{
    width: 100%;
    height: auto;
    /*line-height: 600px;*/
    /*background: #d37c6f;*/
}



.block_5_a{
    width: 100%;
    position: relative;
}

#headerForm {
    position: relative;
    background-image: none;
}

#formBackgr {
    position: relative;
    background-image: url(img/fon5.jpg);
    width: 100%;
    height: 1080px;
}

.formKonv {
    position: relative;
    width: 484px;
    height: 670px;
    background-image: url("img/mail.jpg");
    background-repeat: no-repeat;
    top: 20%;
    bottom: 10%;
    left: 15%;
    display: inline-block;
}

.form_contact {
    position: absolute;
    top: 10%;
    left: 10%;
    padding-top: 5%;
    padding-left: 5%;
}

.form_contact input, fieldset {
    border: none;
}

fieldset input {
    font-weight: 700;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.contacts {
    color: white;
    position: absolute;
    top: 50%;
    right: 30%;
    display: inline-block;
}

.contacts a {
    text-decoration: none;
    color: white;
}

.ho4u input {
    text-align: center;
}

.form_bottom {
    text-align: center;
    border: none;
}

.form_bottom button {
    border: none;
}


@media screen and (max-width: 1800px) {
    .contacts {
        right: 25%;
    }
}

@media screen and (max-width: 1600px) {
    .contacts {
        right: 20%;
    }
}

@media screen and (max-width: 1400px) {
    .contacts {
        right: 10%;
    }
}

@media screen and (max-width: 1200px) {
    .contacts {
        right: 5%;
    }
}

@media screen and (max-width: 1100px) {
    .formKonv {
        left: 5%;
    }
}




label.error{
    height: 80px;
    width: 110%;
    position: absolute;
    font-size: 100%;
    color: #ffffff;
    left: 3%;
    bottom: -100%;
    padding: 5px;
    background: #8DC2C4;
    border: 2px solid #2E767C;
    transition: all 0.5s;
    text-align: center;
}